//Simple Colors

$dark_blue_color: #151c44;
$white_color: #fff;

$success_color: #10ec87;
$success_gradient: linear-gradient(-90deg, $success_color 0%, #10c2a7 100%);
$warning_color: #f79518;
$warning_gradient: linear-gradient(90deg, $warning_color 0%, #cfb51a 100%);
$wrong_color: #f24253;
$wrong_gradient: linear-gradient(90deg, #f53c31 0%, #ff6c4c 100%);

//Gradients

$blue_gradient: linear-gradient(120deg, rgb(51,95,184) 0%, rgb(29,163,228) 100%);
$red_gradient: linear-gradient(120deg, rgb(236,16,16) 0%, rgb(255,112,69) 100%);
$yellow_gradient: linear-gradient(120deg, rgb(255,152,69) 0%, rgb(255,187,69) 100%);
$green_gradient: linear-gradient(120deg, rgb(16,236,135) 0%, rgb(16,194,167) 100%);
$purple_gradient: linear-gradient(120deg, rgb(67,25,124) 0%, rgb(188,55,226) 100%);
$fb_gradient: linear-gradient(120deg, rgb(9,105,215) 0%, rgb(67,156,212) 100%);
$google_gradient: linear-gradient(120deg, rgb(234,47,47) 0%, rgb(241,75,75) 100%);

//Backgrounds & Overlays

$bg_light_blue_gradient: linear-gradient(90deg, rgba(61,78,109,0.9) 0%, rgba(124,184,221,0.9) 100%);
$bg_dark_blue_gradient: linear-gradient(90deg, rgba(34,47,69,0.9) 0%, rgba(72,128,187,0.9) 100%);
$bg_purple_gradient: linear-gradient(90deg, rgba(121,100,162,0.9) 0%, rgba(61,48,94,0.9) 100%);

$dark_overlay: rgba(57,44,54,0.8);
$white_overlay: rgba(255,255,255,0.15);

$challenge_overlay: rgba(8,17,42,0.3);
$footer_overlay: rgba(8,17,42,0.7);

$modal_bg_overlay: rgba(5,12,28,0.8);
$modal_bg_blur: blur(8px);

//Borderd Radiuses

$b_radius_0: 0px;
$b_radius_small: 6px;
$b_radius_medium: 10px;
$b_radius_big: 30px;
$b_radius_circle: 50%;

//Borderd Colors

$golden_gradient: rgb(255,160,72) 0%, rgb(191,115,52) 2%, rgb(225,136,61) 3%, rgb(251,151,68) 6%, rgb(211,130,58) 14%, rgb(158,94,43) 30%, rgb(184,116,51) 34%, rgb(170,100,46) 37%, rgb(229,140,63) 41%, rgb(255,223,105) 45%, rgb(255,255,129) 49%, rgb(255,168,74) 53%, rgb(251,151,68) 58%, rgb(255,168,74) 61%, rgb(255,168,74) 63%, rgb(255,168,74) 69%, rgb(255,185,82) 73%, rgb(255,185,82) 76%, rgb(255,176,78) 81%, rgb(255,168,74) 85%, rgb(255,185,82) 91%, rgb(235,144,64) 95%, rgb(255,164,73) 100%;

@mixin golden_gradient($border_size) {
	&{
		position: relative;
		background: transparent;
		border: $border_size solid transparent;
		border-radius: 300px;
		background-origin: border-box;
		background-clip: content-box, border-box;
		background-image: linear-gradient(#fff, #fff), radial-gradient(circle at bottom left, $golden_gradient);
	}
}
	
$silver_gradient: rgb(250,225,201) 0%, rgb(163,151,141) 2%, rgb(234,214,197) 6%, rgb(223,210,199) 9%, rgb(216,198,181) 19%, rgb(145,132,122) 29%, rgb(184,169,155) 34%, rgb(171,155,142) 37%, rgb(223,207,192) 41%, rgb(254,247,221) 45%, rgb(253,253,216) 49%, rgb(216,205,192) 53%, rgb(243,228,215) 58%, rgb(224,210,195) 60%, rgb(207,196,183) 63%, rgb(253,234,213) 69%, rgb(250,235,212) 72%, rgb(250,235,217) 81%, rgb(254,239,222) 85%, rgb(254,236,209) 91%, rgb(236,226,217) 95%, rgb(229,213,197) 100%;

@mixin silver_gradient($border_size) {
	&{
		position: relative;
		background: transparent;
		border: $border_size solid transparent;
		border-radius: 300px;
		background-origin: border-box;
		background-clip: content-box, border-box;
		background-image: linear-gradient(#fff, #fff), radial-gradient(circle at bottom left, $silver_gradient);
	}
}

//Shadows & Glows

$buttons_shadow: 0px 0px 45px 10px rgba(10, 45, 92, 0.2);
$main_shadow: 0px 19px 36.98px 6.02px rgba(8, 19, 42, 0.3);
$blue_glow: 0px 0px 67px 13px rgba(85, 151, 220, 0.1);
