@mixin center_content {
	display: flex;
    justify-content: center;
    align-items: center;
	text-align: center;
}

@mixin text {
	color: $white_color;
	z-index: 1;
}

@mixin btn_before {
	content: '';
	width: 100.5%;
	height: 100.5%;
	border-radius: 2000px;
	position: absolute;
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

@mixin blue_btn ($btn_height, $btn_side_pad, $border_size) {
	height: $btn_height;
	padding-left: $btn_side_pad;
	padding-right: $btn_side_pad;
	@include center_content;
	@include golden_gradient($border_size);
	&:before {
		background: $blue_gradient;
		@include btn_before;
	}
	
	& p {
		@include text;
	}
}

@mixin red_btn ($btn_height, $btn_side_pad, $border_size) {
	height: $btn_height;
	padding-left: $btn_side_pad;
	padding-right: $btn_side_pad;
	@include center_content;
	@include golden_gradient($border_size);
	&:before {
		background: $red_gradient;
		@include btn_before;
	}
	
	& p {
		@include text;
	}
}

@mixin yellow_btn ($btn_height, $btn_side_pad, $border_size) {
	height: $btn_height;
	padding-left: $btn_side_pad;
	padding-right: $btn_side_pad;
	@include center_content;
	@include golden_gradient($border_size);
	&:before {
		background: $yellow_gradient;
		@include btn_before;
	}
	
	& p {
		@include text;
	}
}

@mixin green_btn ($btn_height, $btn_side_pad, $border_size) {
	height: $btn_height;
	padding-left: $btn_side_pad;
	padding-right: $btn_side_pad;
	@include center_content;
	@include golden_gradient($border_size);
	&:before {
		background: $green_gradient;
		@include btn_before;
	}
	
	& p {
		@include text;
	}
}

@mixin purple_btn ($btn_height, $btn_side_pad, $border_size) {
	height: $btn_height;
	padding-left: $btn_side_pad;
	padding-right: $btn_side_pad;
	@include center_content;
	@include golden_gradient($border_size);
	&:before {
		background: $purple_gradient;
		@include btn_before;
	}
	
	& p {
		@include text;
	}
}

@mixin fb_btn ($btn_height, $btn_side_pad, $border_size) {
	height: $btn_height;
	padding-left: $btn_side_pad;
	padding-right: $btn_side_pad;
	@include center_content;
	@include silver_gradient($border_size);
	&:before {
		background: $fb_gradient;
		@include btn_before;
	}
	
	& p {
		@include text;
	}
}

@mixin google_btn ($btn_height, $btn_side_pad, $border_size) {
	height: $btn_height;
	padding-left: $btn_side_pad;
	padding-right: $btn_side_pad;
	@include center_content;
	@include silver_gradient($border_size);
	&:before {
		background: $google_gradient;
		@include btn_before;
	}
	
	& p {
		@include text;
	}
}
