/* line 1, doc_grid.scss */
.gr_1,
.gr_2,
.gr_2_5,
.gr_3,
.gr_4,
.gr_5,
.gr_6,
.gr_7,
.gr_8,
.gr_9,
.gr_10,
.gr_11,
.gr_12 {
  display: block;
  float: left;
  padding: 15px; }

/* line 19, doc_grid.scss */
.gr_1 {
  width: 8.33333333%; }

/* line 23, doc_grid.scss */
.gr_2 {
  width: 16.66666667%; }

/* line 27, doc_grid.scss */
.gr_2_5 {
  width: 20%; }

/* line 31, doc_grid.scss */
.gr_3 {
  width: 25%; }

/* line 35, doc_grid.scss */
.gr_4 {
  width: 33.33333333%; }

/* line 39, doc_grid.scss */
.gr_5 {
  width: 41.66666667%; }

/* line 43, doc_grid.scss */
.gr_6 {
  width: 50%; }

/* line 47, doc_grid.scss */
.gr_7 {
  width: 58.33333333%; }

/* line 51, doc_grid.scss */
.gr_8 {
  width: 66.66666667%; }

/* line 55, doc_grid.scss */
.gr_9 {
  width: 75%; }

/* line 59, doc_grid.scss */
.gr_10 {
  width: 83.33333333%; }

/* line 63, doc_grid.scss */
.gr_11 {
  width: 91.66666667%; }

/* line 67, doc_grid.scss */
.gr_12 {
  width: 100%; }

/* line 71, doc_grid.scss */
.pad {
  padding: 15px;
  float: left; }

/* line 76, doc_grid.scss */
.pad_top_bot {
  padding-top: 15px;
  padding-bottom: 15px; }

/* line 81, doc_grid.scss */
.mar {
  margin: 15px;
  float: left; }

/* line 86, doc_grid.scss */
.mar_left {
  margin: 0;
  margin-left: 15px; }

/* line 91, doc_grid.scss */
.clear {
  clear: both; }